# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Logs
*.log

# MkDocs
site/

# Expo / React Native
expo/node_modules/
expo/.expo/
expo/.expo-shared/
expo/dist/
expo/build/
expo/android/
expo/ios/
